#app {
  margin-bottom: 6vh;
}

.backimage {
  width: 100%;
  height: 450px;
  background-image: url('../assets/backimage.png');
}

main {
  min-height: 100vh;
}

#wip{
  text-align: center;
  width: -webkit-fill-available;
  background-color: #5d0e13;
  color: white;
}
